apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: sdr-research

resources:
  - 00-namespace.yaml
  - 01-configmap.yaml
 # - 02-pvc-artifacts.yaml
  - 03-rtl-sdr-daemonset.yaml
  - 03b-rtl-tcp-service.yaml
  - 04-channelizer-configmap.yaml
  - 05-channelizer-deployment.yaml
  - 06-cw-extractor-configmap.yaml
  - 07-cw-extractor-deployment.yaml
  - 08-cw-decoder-configmap.yaml
  - 09-cw-decoder-deployment.yaml
  - 10a-voice-decoder-configmap.yaml
  - 10b-voice-decoder-deployment.yaml
  - 11-fm-recorder-configmap.yaml
  - 12-fm-recorder-deployment.yaml


images:
  - name: librespace/gnuradio
    newTag: "3.10.5.1"
  - name: linuxserver/faster-whisper
    newTag: "3.0.2"