apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: sdr-research

resources:
  - 00-namespace.yaml
  - 01-configmap.yaml
  - 02-pvc-artifacts.yaml
  - 03-rtl-sdr-daemonset.yaml
  - 03b-rtl-tcp-service.yaml
  - 04-channelizer-configmap.yaml
  - 05-channelizer-job.yaml
  - 06-cw-extractor-configmap.yaml
  - 07-cw-extractor-job.yaml
  - 08-cw-decoder-configmap.yaml
  - 09-cw-decoder-job.yaml
  - 09-voice-decoder-job.yaml