apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: freshrss-bi-data
  namespace: freshrss
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn
