apiVersion: apps/v1
kind: Deployment
metadata:
  name: dispatcharr-db
  namespace: dispatcharr
  labels:
    app: dispatcharr-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dispatcharr-db
  template:
    metadata:
      labels:
        app: dispatcharr-db
    spec:
      containers:
        - name: postgres
          image: postgres
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: dispatcharr-secret
                  key: POSTGRES_DB
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: dispatcharr-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: dispatcharr-secret
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: dispatcharr-postgres-data
