apiVersion: v1
kind: Secret
metadata:
  name: registry-config
  namespace: registry
type: Opaque
stringData:
  config.yml: |
    version: 0.1
    log:
      level: info

    storage:
      filesystem:
        rootdirectory: /var/lib/registry

    http:
      addr: :5000
      headers:
        X-Content-Type-Options: [nosniff]

      # ENABLE BASIC AUTH
      auth:
        htpasswd:
          realm: basic-realm
          path: /auth/htpasswd