
.DS_Store
rke2.yaml
authentik-stack/authentik.env
matrix-stack/backup/synapse_backup.sql
matrix-stack/configmaps/synapse-config.yaml
matrix-stack/configmaps/maubot-config.yaml
matrix-stack/configmaps/element-config.yaml
adsb-stack/config/feeder-secret.yaml
matrix-stack/secrets/synapse-secrets.yaml
matrix-stack/secrets/postgres-secret.yaml
matrix-stack/secrets/postgres-maubot-secrets.yaml
matrix-stack/secrets/postfix-smtp-secret.yaml
matrix-stack/secrets/matrix-webhooks-secrets.yaml
mastodon-stack/02-secrets-template.yaml
homarr-stack/secrets.yaml
invidious/secrets.yaml
invidious/values.resolved.yaml
mastodon-stack/cf-api-key.txt
argocd/keys.txt
argo/keys.txt
argo-cd/keys.txt
argo/keys.txt
adsb-stack/fr24/feeder-secret.yaml
adsb-stack/fr24/feeder-config.yaml
argo-cd/archive hold/maubot-temp.yaml
matrix-stack/projects/postfix/accounts.db
storage/pvc.txt
argocd/script.sh
storage/longhorn-pvc.sh
.claude/settings.local.json
homepage/config/.decrypted~services.cm.sops.yaml
/sdr-research/api
/sdr-research/ui
/sdr-research/api
/sdr-research/api
freshrss/bi-pipeline/requirements.txt
freshrss/bi-pipeline/pipeline.py
freshrss/bi-pipeline/Dockerfile
freshrss/bi-pipeline/__pycache__/pipeline.cpython-312.pyc
sdr-research/api/app/services/__pycache__/audio.cpython-312.pyc
sdr-research/api/app/services/__pycache__/indexer.cpython-312.pyc
sdr-research/api/app/services/repeater.py
sops/
sdr-research/api/app/services/repeater.py
freshrss/README.md
sdr-research/api/app/services/__pycache__/audio.cpython-312.pyc
sdr-research/api/app/services/__pycache__/indexer.cpython-312.pyc
sdr-research/api/app/services/repeater.py
observability/.decrypted~51-secret-influxdb.sops.yaml
sdr-research/api/app/services/__pycache__/audio.cpython-312.pyc
sdr-research/api/app/services/__pycache__/indexer.cpython-312.pyc
sdr-research/api/app/services/repeater.py
