extraObjects:
  - apiVersion: networking.k8s.io/v1
    kind: Ingress
    metadata:
      name: argocd
      namespace: argocd
      annotations:
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        cert-manager.io/cluster-issuer: letsencrypt-dns
        nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    spec:
      ingressClassName: nginx
      tls:
        - hosts:
            - argo.white.fm
          secretName: argo-white-fm-tls
      rules:
        - host: argo.white.fm
          http:
            paths:
              - path: /
                pathType: Prefix
                backend:
                  service:
                    name: argocd-server
                    port:
                      number: 443

global:
  image:
    tag: v3.2.1

configs:
  cm:
    kustomize.buildOptions: "--enable-alpha-plugins --enable-exec"

repoServer:
  replicas: 2

  extraEnv:
    - name: ARGOCD_EXEC_ENABLED
      value: "true"
    - name: SOPS_AGE_KEY_FILE
      value: /home/argocd/.config/sops/age/age.key
  volumes:
    - name: custom-tools
      emptyDir: {}
    - name: sops-age
      secret:
        secretName: sops-age
    - name: kustomize-plugins
      emptyDir: {}

  initContainers:
    - name: install-tools
      image: viaductoss/ksops:v4.3.3
      command: ["/bin/sh", "-c"]
      args:
        - |
          set -e
          echo "[INIT] Installing ksops + kustomize + kustomize-sops + sops..."

          mkdir -p /custom-tools

          cp /usr/local/bin/ksops /custom-tools/ksops
          cp /usr/local/bin/kustomize /custom-tools/kustomize
          cp /usr/local/bin/kustomize-sops /custom-tools/kustomize-sops

          cp /usr/local/bin/kustomize-sops /custom-tools/sops

          chmod +x /custom-tools/*
          echo "[INIT] Tools installed."
      volumeMounts:
        - mountPath: /custom-tools
          name: custom-tools

    - name: install-ksops-plugin
      image: viaductoss/ksops:v4.3.3
      command: ["/bin/sh", "-c"]
      args:
        - |
          set -e
          echo "[INIT] Installing KSOPS plugin..."

          mkdir -p /plugins/viaduct.ai/v1/ksops
          cp /usr/local/bin/ksops /plugins/viaduct.ai/v1/ksops/Ksops
          chmod +x /plugins/viaduct.ai/v1/ksops/Ksops

          echo "[INIT] KSOPS plugin installed."
      volumeMounts:
        - mountPath: /plugins
          name: kustomize-plugins

  volumeMounts:
    - mountPath: /usr/local/bin/ksops
      name: custom-tools
      subPath: ksops
    - mountPath: /usr/local/bin/kustomize
      name: custom-tools
      subPath: kustomize
    - mountPath: /usr/local/bin/sops
      name: custom-tools
      subPath: sops
    - mountPath: /home/argocd/.config/kustomize/plugin
      name: kustomize-plugins
    - mountPath: /etc/sops/age
      name: sops-age
      readOnly: true
    - mountPath: /home/argocd/.config/sops/age
      name: sops-age
      readOnly: true

server:
  replicas: 2

  certificate:
    enabled: true

  service:
    type: ClusterIP
    ports:
      http: 80
      https: 443

applicationController:
  replicas: 2
