global:
  image:
    tag: v3.2.0

configs:
  cm:
    kustomize.buildOptions: "--enable-alpha-plugins --enable-exec"

repoServer:
  replicas: 2

  extraEnv:
    - name: ARGOCD_EXEC_ENABLED
      value: "true"

  volumes:
    - name: custom-tools
      emptyDir: {}
    - name: sops-age
      secret:
        secretName: sops-age
    - name: kustomize-plugins
      emptyDir: {}

  initContainers:

    # Install ksops, kustomize, kustomize-sops, and sops binary
    - name: install-tools
      image: viaductoss/ksops:v4.3.3
      command: ["/bin/sh", "-c"]
      args:
        - |
          set -e
          echo "[INIT] Installing ksops + kustomize + kustomize-sops + sops..."

          mkdir -p /custom-tools

          cp /usr/local/bin/ksops /custom-tools/ksops
          cp /usr/local/bin/kustomize /custom-tools/kustomize
          cp /usr/local/bin/kustomize-sops /custom-tools/kustomize-sops

          # The KSOPS image includes the sops golang library
          # but not the CLI, so we use the plugin version
          cp /usr/local/bin/kustomize-sops /custom-tools/sops

          chmod +x /custom-tools/*

          echo "[INIT] Tools installed."
      volumeMounts:
        - mountPath: /custom-tools
          name: custom-tools

    # Install KSOPS plugin file
    - name: install-ksops-plugin
      image: viaductoss/ksops:v4.3.3
      command: ["/bin/sh", "-c"]
      args:
        - |
          set -e
          echo "[INIT] Installing KSOPS plugin..."

          mkdir -p /plugins/viaduct.ai/v1/ksops

          # copy ksops executable as Kustomize plugin
          cp /usr/local/bin/ksops /plugins/viaduct.ai/v1/ksops/Ksops

          chmod +x /plugins/viaduct.ai/v1/ksops/Ksops

          echo "[INIT] KSOPS plugin installed."
      volumeMounts:
        - mountPath: /plugins
          name: kustomize-plugins

  volumeMounts:
    - mountPath: /usr/local/bin/ksops
      name: custom-tools
      subPath: ksops

    - mountPath: /usr/local/bin/kustomize
      name: custom-tools
      subPath: kustomize

    - mountPath: /usr/local/bin/sops
      name: custom-tools
      subPath: sops

    - mountPath: /home/argocd/.config/kustomize/plugin
      name: kustomize-plugins

    - mountPath: /etc/sops/age
      name: sops-age
      readOnly: true

    - mountPath: /home/argocd/.config/sops/age
      name: sops-age
      readOnly: true

server:
  replicas: 2

  ingress:
    enabled: true
    ingressClassName: nginx

    hosts:
      - argo.white.fm

    tls:
      - hosts:
          - argo.white.fm
        secretName: argocd-tls

    annotations:
      kubernetes.io/tls-acme: "true"
      cert-manager.io/cluster-issuer: "letsencrypt-production"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"

applicationController:
  replicas: 2