global:
  image:
    tag: v3.0.11

configs:
  cm:
    configManagementPlugins: |
      - name: ksops
        generate:
          command: ["/usr/local/bin/ksops"]
          args: ["-f", "."]

repoServer:
  extraEnv:
    - name: ARGOCD_EXEC_ENABLED
      value: "true"

    - name: ARGOCD_KUSTOMIZE_PLUGIN_HOME
      value: /usr/local/bin

  extraArgs:
    - --loglevel=debug

  volumes:
    - name: custom-tools
      emptyDir: {}

    - name: sops-age
      secret:
        secretName: sops-age

  initContainers:
    - name: install-ksops
      image: viaductoss/ksops:v4.3.3
      command: ["/bin/sh", "-c"]
      args: |
        echo "Installing KSOPS..."
        cp /usr/local/bin/ksops /custom-tools/ && chmod +x /custom-tools/ksops
        cp /usr/local/bin/kustomize /custom-tools/ && chmod +x /custom-tools/kustomize
        echo "Done."
      volumeMounts:
        - mountPath: /custom-tools
          name: custom-tools

  volumeMounts:
    - mountPath: /usr/local/bin/kustomize
      name: custom-tools
      subPath: kustomize

    - mountPath: /usr/local/bin/ksops
      name: custom-tools
      subPath: ksops

    - mountPath: /etc/sops/age
      name: sops-age
      readOnly: true

    - mountPath: /home/argocd/.config/sops/age
      name: sops-age
      readOnly: true