apiVersion: apps/v1
kind: Deployment
metadata:
  name: homarr
  namespace: homarr
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: homarr
  template:
    metadata:
      labels:
        app: homarr
    spec:
      serviceAccountName: homarr
      securityContext:
        fsGroup: 1000
      containers:
        - name: homarr
          image: ghcr.io/homarr-labs/homarr
          ports:
            - containerPort: 7575
          env:
            - name: TZ
              value: "UTC"
            - name: ENABLE_KUBERNETES_INTEGRATION
              value: "true"
            - name: DATABASE_FILE
              value: /appdata/db/db.sqlite
            - name: ENABLE_DOCKER_INTEGRATION
              value: "false"
            - name: NODE_ENV
              value: "production"
            - name: SECRET_ENCRYPTION_KEY
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: SECRET_ENCRYPTION_KEY
          volumeMounts:
            - name: db-storage
              mountPath: /appdata
            - name: k8s-token
              mountPath: /var/run/secrets/kubernetes.io/serviceaccount
              readOnly: true
      volumes:
        - name: db-storage
          persistentVolumeClaim:
            claimName: homarr-database-longhorn
        - name: k8s-token
          projected:
            sources:
              - serviceAccountToken:
                  path: token
                  expirationSeconds: 3600
                  audience: kubernetes
