apiVersion: apps/v1
kind: Deployment
metadata:
  name: ollama
  namespace: ai-stack
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ollama
  template:
    metadata:
      labels:
        app: ollama
    spec:
      tolerations:
        - key: "gpu-only"
          operator: "Equal"
          value: "true"
          effect: "NoSchedule"

      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: nvidia.com/gpu.present
                    operator: In
                    values: ["true"]
                    
      containers:
        - name: ollama
          image: ollama/ollama:0.13.0

          env:
            - name: OLLAMA_OPENAI_COMPAT
              value: "1"
            - name: OLLAMA_API_KEY
              value: "dummy"

          resources:
            requests:
              cpu: "1"
              memory: "4Gi"
            limits:
              nvidia.com/gpu: 1
              cpu: "8"
              memory: "16Gi"

          volumeMounts:
            - name: ollama-data
              mountPath: /root/.ollama

      volumes:
        - name: ollama-data
          persistentVolumeClaim:
            claimName: ollama-pvc
