apiVersion: apps/v1
kind: Deployment
metadata:
  name: ollama-cpu
  namespace: ai-stack
  labels:
    app: ollama
    type: cpu
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ollama
      type: cpu
  template:
    metadata:
      labels:
        app: ollama
        type: cpu
    spec:
      priorityClassName: low-priority

      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - ollama
                topologyKey: "kubernetes.io/hostname"

      containers:
        - name: ollama
          image: ollama/ollama
          ports:
            - containerPort: 11434

          env:
            - name: OLLAMA_OPENAI_COMPAT
              value: "1"
            - name: OLLAMA_API_KEY
              value: "dummy"

          resources:
            limits:
              cpu: "8"
              memory: "16Gi"
            requests:
              cpu: "1"
              memory: "4Gi"

          volumeMounts:
            - name: ollama-data
              mountPath: /root/.ollama

      volumes:
        - name: ollama-data
          persistentVolumeClaim:
            claimName: ollama-pvc