apiVersion: apps/v1
kind: Deployment
metadata:
  name: invokeai
  namespace: ai
spec:
  replicas: 1
  selector:
    matchLabels:
      app: invokeai
  template:
    metadata:
      labels:
        app: invokeai
    spec:
      nodeSelector:
        gpu: "true"
      tolerations:
        - key: "node-role.kubernetes.io/control-plane"
          operator: "Exists"
          effect: "NoSchedule"
      containers:
        - name: invokeai
          image: ghcr.io/invoke-ai/invokeai
          ports:
            - containerPort: 9090
          resources:
            limits:
              nvidia.com/gpu: 1
          env:
            - name: INVOKEAI_ROOT
              value: /invokeai
            - name: INVOKEAI_HOST
              value: "0.0.0.0"
            - name: INVOKEAI_PORT
              value: "9090"
          volumeMounts:
            - name: invokeai-data
              mountPath: /invokeai
      volumes:
        - name: invokeai-data
          persistentVolumeClaim:
            claimName: invokeai-data
