apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ai-stack

resources:
  - 00-namespace.yaml
  - 10-ollama-deployment.yaml
  - 20-openwebui-deployment.yaml
  - 30-ollama-svc.yaml
  - 35-openwebui-svc.yaml
  - 40-ollama-pvc.yaml
  - 45-openwebui-pvc.yaml
  - 50-ollama-ingress.yaml
  - 55-openwebui-ingress.yaml

commonLabels:
  managed-by: argocd
  app.kubernetes.io/part-of: ai-stack
