apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ai-stack

resources:
  - 00-namespace.yaml
  - 05-priorityclass-gpu.yaml
  - 06-priorityclass-cpu.yaml
  - 10-ollama-deployment.yaml
#  - 15-ollama-deployment-cpu.yaml
  - 20-openwebui-deployment.yaml
  - 21-sd-deployment.yaml
  - 22-localai-image-model-bootstrap-job.yaml
  - 30-ollama-svc.yaml
  - 31-ollama-metallb.yaml
  - 35-openwebui-svc.yaml
  - 36-sd-svc.yaml
  - 37-localai-image-proxy-configmap.yaml
  - 38-localai-image-proxy-deployment.yaml
  - 39-localai-image-proxy-svc.yaml
#  - 40-ollama-pvc.yaml
  - 41-storageclass.yaml
#  - 45-openwebui-pvc.yaml
#  - 46-sd-pvc.yaml
  - 50-ollama-ingress.yaml
  - 55-openwebui-ingress.yaml
  - 56-comfyui-pvc.yaml
  - 57-comfyui-deployment.yaml
  - 58-comfyui-svc.yaml
  - 59-comfyui-ingress.yaml


commonLabels:
  managed-by: argocd
  app.kubernetes.io/part-of: ai-stack

images:
  - name: ollama/ollama
    newTag: "0.17.0"

  - name: quay.io/go-skynet/local-ai
    newTag: "master-nvidia-l4t-arm64-cuda-13"

  - name: ghcr.io/open-webui/open-webui
    newTag: "main"
    digest: "sha256:c0297cf2f76e0ba21d19eb3a21753d3b271c0247694cba3948677d2a97ec559f"

  - name: nginx
    newTag: "1.29-alpine"

  - name: python
    newTag: "3.14-alpine"

  - name: registry.white.fm/comfyui-nvidia
    newTag: "0.3.58-cuda13.1-dgx-arm64-20260223-1"

generators:
  - ksops.yaml
