apiVersion: apps/v1
kind: Deployment
metadata:
  name: paperless
  namespace: paperless
spec:
  replicas: 1
  selector:
    matchLabels:
      app: paperless
  template:
    metadata:
      labels:
        app: paperless
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: paperless
          image: ghcr.io/paperless-ngx/paperless-ngx
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
          ports:
            - containerPort: 8000

          envFrom:
            - secretRef:
                name: paperless-secrets
            - secretRef:
                name: paperless-db
            - secretRef:
                name: paperless-oidc

          env:
            - name: PAPERLESS_REDIS
              value: redis://redis.paperless.svc.cluster.local:6379
            - name: PAPERLESS_DBHOST
              value: postgres.paperless.svc.cluster.local
            - name: PAPERLESS_DBNAME
              value: paperless
            - name: PAPERLESS_URL
              value: https://paperless.white.fm
            - name: PAPERLESS_TIME_ZONE
              value: UTC
            - name: PAPERLESS_OCR_LANGUAGE
              value: eng
            - name: PAPERLESS_DBUSER
              valueFrom:
                secretKeyRef:
                  name: paperless-db
                  key: username

            - name: PAPERLESS_DBPASS
              valueFrom:
                secretKeyRef:
                  name: paperless-db
                  key: password
          volumeMounts:
            - name: data
              mountPath: /usr/src/paperless/data
            - name: media
              mountPath: /usr/src/paperless/media
            - name: consume
              mountPath: /usr/src/paperless/consume

      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: paperless-data
        - name: media
          persistentVolumeClaim:
            claimName: paperless-media
        - name: consume
          persistentVolumeClaim:
            claimName: paperless-consume