apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: paperless

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  
generators:
  - ksops.yaml

images:
  - name: ghcr.io/paperless-ngx/paperless-ngx
    newTag: v2.20.3