apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: observability
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: prometheus
        static_configs:
          - targets: ["localhost:9090"]

      - job_name: unifi-poller
        static_configs:
          - targets:
              - unifi-poller.observability.svc.cluster.local:9130

      # =========================
      # Argo CD metrics scraping
      # =========================
      - job_name: argocd
        kubernetes_sd_configs:
          - role: service

        relabel_configs:
          - source_labels: [__meta_kubernetes_namespace]
            action: keep
            regex: argocd

          - source_labels: [__meta_kubernetes_service_name]
            action: keep
            regex: argocd-(server|repo-server|application-controller)

          - source_labels: [__meta_kubernetes_service_port_name]
            action: keep
            regex: metrics

      # =========================
      # CoreDNS metrics scraping
      # =========================

      - job_name: coredns
        kubernetes_sd_configs:
          - role: endpoints

        relabel_configs:
          - source_labels: [__meta_kubernetes_service_name]
            action: keep
            regex: rke2-coredns-metrics

          - source_labels: [__meta_kubernetes_namespace]
            action: keep
            regex: kube-system

          - source_labels: [__meta_kubernetes_endpoint_port_name]
            action: keep
            regex: metrics

      # =========================
      # Pihole metrics scraping
      # =========================

      - job_name: pihole
        kubernetes_sd_configs:
          - role: endpoints
        relabel_configs:
          - source_labels: [__meta_kubernetes_service_label_app]
            action: keep
            regex: pihole-exporter

      # =========================
      # Kube-state-metrics Scraping
      # =========================

      - job_name: kube-state-metrics
        kubernetes_sd_configs:
          - role: endpoints
        relabel_configs:
          - source_labels: [__meta_kubernetes_namespace]
            action: keep
            regex: observability

          - source_labels: [__meta_kubernetes_service_name]
            action: keep
            regex: kube-state-metrics

          - source_labels: [__meta_kubernetes_endpoint_port_name]
            action: keep
            regex: http


      - job_name: trivy-operator
        kubernetes_sd_configs:
          - role: endpoints
        relabel_configs:
          - source_labels: [__meta_kubernetes_namespace]
            action: keep
            regex: trivy-system
          - source_labels: [__meta_kubernetes_service_name]
            action: keep
            regex: trivy-operator
          - source_labels: [__meta_kubernetes_endpoint_port_name]
            action: keep
            regex: metrics