apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail-config
  namespace: observability
data:
  promtail.yaml: |
    server:
      http_listen_port: 9080
      grpc_listen_port: 0

    positions:
      filename: /tmp/positions.yaml

    clients:
      - url: http://loki:3100/loki/api/v1/push

    scrape_configs:
    - job_name: syslog
      syslog:
        listen_address: 0.0.0.0:1514
        idle_timeout: 60s
        labels:
          job: syslog
    
      relabel_configs:
        - source_labels: ['__syslog_message_hostname']
          target_label: host
        - source_labels: ['__syslog_message_app_name']
          target_label: container
    
    - job_name: kubernetes-pods
      static_configs:
      - targets:
          - localhost
        labels:
          job: kubernetes-pods
          __path__: /var/log/pods/*/*/*.log

      pipeline_stages:
        - cri: {}