apiVersion: v1
kind: ConfigMap
metadata:
  name: unifi-poller-config
  namespace: observability
data:
  up.conf: |
    ############################################################
    # UniFi Poller Configuration
    ############################################################

    [unifi]
    default_url  = "https://10.99.5.1"
    default_user = "unpoller"
    default_pass = "${UP_UNIFI_DEFAULT_PASS}"

    save_sites     = true
    save_dpi       = false
    save_events    = false
    save_ids       = false
    save_alarms    = false
    save_anomalies = false
    save_rogue     = false

    ############################################################
    # InfluxDB DISABLED
    ############################################################
    [influxdb]
    disable = true

    ############################################################
    # Prometheus Exporter ENABLED
    ############################################################
    [prometheus]
    disable = false
    listen  = "0.0.0.0:9130"