apiVersion: v1
kind: ConfigMap
metadata:
  name: unifi-poller-config
  namespace: observability
data:
  up.conf: |
    ############################################################
    # UniFi Poller Configuration (Production)
    ############################################################

    [unifi]
    default_url  = "https://10.99.5.1"
    default_user = "unpoller"
    default_pass = "${UP_UNIFI_DEFAULT_PASS}"

    save_sites     = true
    save_dpi       = true
    save_events    = false
    save_ids       = false
    save_alarms    = false
    save_anomalies = false
    save_rogue     = false

    ############################################################
    # InfluxDB v2 ONLY
    # IMPORTANT: section name MUST be influxdb_v2
    ############################################################
    [influxdb_v2]
    disable = false
    url     = "http://influxdb.observability.svc.cluster.local:8086"
    token   = "${UP_INFLUXDB_TOKEN}"
    org     = "whitehouse"
    bucket  = "unifi"

    ############################################################
    # Prometheus Exporter
    ############################################################
    [prometheus]
    disable = false
    listen  = "0.0.0.0:9130"