apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Namespace
  - 00-namespace.yaml

  # Configuration
  - 01-config-loki.yaml
  - 02-config-prometheus.yaml
  - 03-config-promtail.yaml
  - 04-config-unpoller.yaml

  # Persistent storage
  - 05-pvc-loki.yaml
  - 06-pvc-prometheus.yaml
  - 07-pvc-grafana.yaml

  # Workloads
  - 10-deploy-loki.yaml
  - 11-deploy-prometheus.yaml
  - 12-deploy-grafana.yaml
  - 13-deploy-promtail.yaml

  # Promtail ServiceAccoiunts and RBAC
  - 14-serviceaccount-promtail.yaml
  - 15-clusterrole-promtail.yaml
  - 16-clusterrolebinding-promtail.yaml

  # Services
  - 20-svc-loki.yaml
  - 21-svc-prometheus.yaml
  - 22-svc-grafana.yaml
  - 23-svc-syslog-metallb.yaml

  # Ingress
  - 30-ingress-grafana.yaml

  # Unifi Poller
  - 41-deploy-unifi-poller.yaml
  - 42-svc-unifi-poller.yaml
  - 43-svc-unifi-poller-metallb.yaml

  # InfluxDB
  - 50-pvc-influxdb.yaml
  - 52-deploy-influxdb.yaml
  - 53-svc-influxdb.yaml
  - 54-svc-influxdb-metallb.yaml

generators:
  - ksops.yaml