apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Namespace
  - 00-namespace.yaml

  # Configuration
  - 01-config-loki.yaml
  - 02-config-prometheus.yaml
  - 03-config-promtail.yaml
  - 04-config-unpoller.yaml
  - 24-config-grafana-dashboard-provider.yaml

  # Persistent storage
  - 05-pvc-loki.yaml
  - 06-pvc-prometheus.yaml
  - 07-pvc-grafana.yaml

  # Workloads
  - 10-deploy-loki.yaml
  - 11-deploy-prometheus.yaml
  - 12-deploy-grafana.yaml
  - 13-deploy-promtail.yaml

  # Promtail ServiceAccounts and RBAC
  - 14-serviceaccount-promtail.yaml
  - 15-clusterrole-promtail.yaml
  - 16-clusterrolebinding-promtail.yaml

  # Prometheus ServiceAccounts and RBAC
  - 17-serviceaccount-prometheus.yaml
  - 18-clusterrole-prometheus.yaml
  - 19-clusterrolebinding-prometheus.yaml

  # Services
  - 20-svc-loki.yaml
  - 21-svc-prometheus.yaml
  - 22-svc-grafana.yaml
  - 23-svc-syslog-metallb.yaml

  # Ingress
  - 30-ingress-grafana.yaml
  - 31-ingress-influxdb.yaml

  # Unifi Poller
  - 41-deploy-unifi-poller.yaml
  - 42-svc-unifi-poller.yaml
  - 43-svc-unifi-poller-metallb.yaml

  # InfluxDB
  - 50-pvc-influxdb.yaml
  - 52-deploy-influxdb.yaml
  - 53-svc-influxdb.yaml
  - 54-svc-influxdb-metallb.yaml
  - 56-job-influxdb-buckets.yaml

  # Pihole Exporter
  - 110-deployment-pihole-exporter-a.yaml
  - 111-deployment-pihole-exporter-b.yaml
  - 112-deployment-pihole-exporter-c.yaml
  - 120-svc-pihole-exporter.yaml
  - 121-svc-pihole-exporter-b.yaml
  - 122-svc-pihole-exporter-c.yaml

generators:
  - ksops.yaml

configMapGenerator:
  - name: observability-grafana-dashboards
    files:
      - 14314_rev2.json=grafana_dashboards/14314_rev2.json
      - cert-manager.json=grafana_dashboards/cert-manager.json
      - core-dns.json=grafana_dashboards/core-dns.json
      - freshrss-customer-intelligence.json=grafana_dashboards/freshrss-customer-intelligence.json
      - rke2-dashboard.json=grafana_dashboards/rke2-dashboard.json
      - sdr-activity.json=grafana_dashboards/sdr-activity.json
      - sdr-research.json=grafana_dashboards/sdr-research.json
      - syslog-rke2.json=grafana_dashboards/syslog+rke2.json
      - syslog.json=grafana_dashboards/syslog.json
      - trivy-operator.json=grafana_dashboards/trivy-operator.json
      - trivy-overview.json=grafana_dashboards/trivy-overview.json
  - name: observability-grafana-dashboards-imported
    files:
      - coredns-15762.json=grafana_dashboards/coredns-15762.json
      - kubernetes-persistent-volumes-13646.json=grafana_dashboards/kubernetes-persistent-volumes-13646.json
      - minio-dashboard-13502.json=grafana_dashboards/minio-dashboard-13502.json
      - radarr-12896.json=grafana_dashboards/radarr-12896.json
      - sonarr-12530.json=grafana_dashboards/sonarr-12530.json
      - ultrafeeder-18398.json=grafana_dashboards/ultrafeeder-18398.json
      - unifi-client-insights-11315.json=grafana_dashboards/unifi-client-insights-11315.json
      - unifi-network-sites-11311.json=grafana_dashboards/unifi-network-sites-11311.json
      - unifi-uap-insights-11314.json=grafana_dashboards/unifi-uap-insights-11314.json
      - unifi-usg-insights-11313.json=grafana_dashboards/unifi-usg-insights-11313.json
      - unifi-usw-insights-11312.json=grafana_dashboards/unifi-usw-insights-11312.json
      - velero-overview-23838.json=grafana_dashboards/velero-overview-23838.json
  - name: observability-grafana-dashboards-unifi-dpi
    files:
      - unifi-client-dpi-11310.json=grafana_dashboards/unifi-client-dpi-11310.json

generatorOptions:
  disableNameSuffixHash: true



images:
  - name: prom/prometheus
    newTag: "v3.9.1"

  - name: grafana/promtail
    newTag: "latest"

  - name: grafana/grafana
    newTag: "12.4.0"

  - name: influxdb
    newTag: "2.8.0"

  - name: ghcr.io/unpoller/unpoller
    newTag: "v2.34.0"
    
  - name: ekofr/pihole-exporter
    newTag: "v1.2.0"

  - name: grafana/loki
    newTag: "3.6.7"
