apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Namespace
  - 00-namespace.yaml

  # Configuration
  - 01-config-loki.yaml
  - 02-config-prometheus.yaml
  - 03-config-promtail.yaml
  - 04-config-unpoller.yaml

  # Persistent storage
  - 05-pvc-loki.yaml
  - 06-pvc-prometheus.yaml
  - 07-pvc-grafana.yaml

  # Workloads
  - 10-deploy-loki.yaml
  - 11-deploy-prometheus.yaml
  - 12-deploy-grafana.yaml
  - 13-deploy-promtail.yaml

  # Promtail ServiceAccounts and RBAC
  - 14-serviceaccount-promtail.yaml
  - 15-clusterrole-promtail.yaml
  - 16-clusterrolebinding-promtail.yaml

  # Prometheus ServiceAccounts and RBAC
  - 17-serviceaccount-prometheus.yaml
  - 18-clusterrole-prometheus.yaml
  - 19-clusterrolebinding-prometheus.yaml

  # Services
  - 20-svc-loki.yaml
  - 21-svc-prometheus.yaml
  - 22-svc-grafana.yaml
  - 23-svc-syslog-metallb.yaml

  # Ingress
  - 30-ingress-grafana.yaml

  # Unifi Poller
  - 41-deploy-unifi-poller.yaml
  - 42-svc-unifi-poller.yaml
  - 43-svc-unifi-poller-metallb.yaml

  # InfluxDB
  - 50-pvc-influxdb.yaml
  - 52-deploy-influxdb.yaml
  - 53-svc-influxdb.yaml
  - 54-svc-influxdb-metallb.yaml

  # Pihole Exporter
  - 110-deployment-pihole-exporter-a.yaml
  - 120-svc-pihole-exporter.yaml

generators:
  - ksops.yaml



images:
  - name: prom/prometheus
    newTag: "v3.9.1"

  - name: grafana/promtail
    newTag: "latest"

  - name: grafana/grafana
    newTag: "12.3.2"

  - name: influxdb
    newTag: "2.8.0"

  - name: ghcr.io/unpoller/unpoller
    newTag: "v2.32.0"
    
  - name: ekofr/pihole-exporter
    newTag: "v1.2.0"