# ===========================
# Authentik
# ===========================

# ---------------------------
# PostgreSQL
# ---------------------------
postgresql:
  enabled: true

  auth:
    existingSecret: authentik-env
    secretKeys:
      userKey: POSTGRES_USER
      passwordKey: password
      databaseKey: POSTGRES_DB

  primary:
    persistence:
      enabled: true
      storageClass: longhorn
      size: 10Gi

    resources:
      requests:
        cpu: 1000m
        memory: 2Gi


# ---------------------------
# Redis
# ---------------------------
redis:
  enabled: true
  architecture: standalone

  auth:
    existingSecret: authentik-env
    existingSecretPasswordKey: redis-password

  master:
    persistence:
      enabled: true
      storageClass: longhorn
      size: 5Gi

    resources:
      requests:
        cpu: 500m
        memory: 512Mi


# ---------------------------
# Authentik Server
# ---------------------------
server:
  envFrom:
    - secretRef:
        name: authentik-env

  replicaCount: 2

  resources:
    requests:
      cpu: 1000m
      memory: 1Gi

  persistence:
    enabled: true
    storageClass: longhorn
    size: 5Gi

  service:
    type: ClusterIP
    port: 9443
    portName: https
    
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
      cert-manager.io/cluster-issuer: letsencrypt-dns
    hosts:
      - auth.white.fm
    paths:
      - /
    pathType: Prefix
    tls:
      - secretName: auth-white-fm-tls
        hosts:
          - auth.white.fm
          - auth.whitematter.tech
          - auth.w3rdw.radio


# ---------------------------
# Authentik Worker
# ---------------------------
worker:
  envFrom:
    - secretRef:
        name: authentik-env

  replicaCount: 2

  resources:
    requests:
      cpu: 500m
      memory: 1Gi


# ---------------------------
# Security Contexts
# ---------------------------
podSecurityContext:
  fsGroup: 1000

securityContext:
  runAsUser: 1000
  runAsGroup: 1000