apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx
  source:
    repoURL: https://kubernetes.github.io/ingress-nginx
    chart: ingress-nginx
    targetRevision: 4.13.3
    helm:
      values: |
        controller:
          kind: DaemonSet
          ingressClassResource:
            name: nginx
            default: false
          ingressClass: nginx
          watchIngressWithoutClass: false
          admissionWebhooks:
            enabled: true
          service:
            type: ClusterIP
          metrics:
            enabled: true
            service:
              enabled: true
              port: 10254

          extraArgs:
            controller-class: nginx
            metrics-per-host: "true"
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
