apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - 00-namespace.yaml
  - 15-ingress.yaml
 # - 16-ingress-network-policy.yaml
 # - 17-ingress-network-policy.yaml
  - 20-redis-deployment.yaml
  - 25-redis-svc.yaml
  - 30-pvc-immich-upload.yaml
  - 31-pvc-photo.yaml
  - 40-pv-immich-upload.yaml
  - 41-pv-photo.yaml
#  - 50-immich-ml-deployment.yaml
  - 51-immich-gpu.yaml
#  - 52-immich-cpu.yaml
  - 55-immich-ml-svc.yaml
  - 60-immich-server-deployment.yaml
  - 65-immich-server-svc.yaml
#  - 90-allow-uptime-kuma.yaml
#  - 91-allow-immich-to-redis.yaml
generators:
  - ksops.yaml


images:
  - name: redis
    newTag: "8.6-alpine"

  - name: ghcr.io/immich-app/immich-machine-learning
    newTag: "v2.5.6"
