apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
#  - configmap.yaml
  - namespace.yaml
  - deployments
  - network-policies
  - services
#  - volumes
  
generators:
  - ksops.yaml

images:
  # NOTE: pin these to a specific release before next upgrade
  - name: ghcr.io/goauthentik/server
    newTag: "latest"
  - name: redis
    newTag: "latest"
  - name: postgres
    newTag: "latest"