apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - image-updater-role.yaml
  - image-updater-rolebinding.yaml

helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    # renovate: datasource=helm registryUrl=https://argoproj.github.io/argo-helm depName=argo-cd
    version: 9.3.1
    releaseName: argocd
    valuesFile: values/argocd-values.yaml
    namespace: argocd



