apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  []
#  - allow-cloudflared-to-argo.yaml

helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    # renovate: datasource=helm registryUrl=https://argoproj.github.io/argo-helm depName=argo-cd
    version: 9.1.6
    releaseName: argocd
    valuesFile: values/argocd-values.yaml
    namespace: argocd



