apiVersion: v1
kind: ConfigMap
metadata:
  name: mastodon-env
  namespace: mastodon
data:
  LOCAL_DOMAIN: "mastodon.whitematter.tech"
  WEB_DOMAIN: "mastodon.whitematter.tech"
  DB_HOST: "postgres.mastodon.svc.cluster.local"
  DB_PORT: "5432"
  DB_NAME: "mastodon_production"
  DB_USER: "mastodon"
  REDIS_HOST: "redis.mastodon.svc.cluster.local"
  REDIS_PORT: "6379"
  RAILS_ENV: "production"
  RAILS_SERVE_STATIC_FILES: "true"
  STREAMING_CLUSTER_NUM: "1"
  ES_ENABLED: "true"
  ES_HOST: "http://elasticsearch.mastodon.svc.cluster.local"
  ES_PREFIX: "mastodon"
