apiVersion: apps/v1
kind: Deployment
metadata:
  name: mastodon-web
  namespace: mastodon
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mastodon
      tier: web
  template:
    metadata:
      labels:
        app: mastodon
        tier: web
    spec:
      containers:
        - name: web
          image: ghcr.io/mastodon/mastodon
          command: ["bundle", "exec", "puma", "-C", "config/puma.rb"]
          envFrom:
            - configMapRef:
                name: mastodon-env
          env:
            - name: SECRET_KEY_BASE
              valueFrom:
                secretKeyRef:
                  name: mastodon-secrets
                  key: secret-key-base
            - name: OTP_SECRET
              valueFrom:
                secretKeyRef:
                  name: mastodon-secrets
                  key: otp-secret
            - name: DB_USER
              value: "mastodon"
            - name: DB_NAME
              value: "mastodon_production"
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: mastodon-secrets
                  key: db-password
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mastodon-secrets
                  key: redis-password
            - name: ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY
              valueFrom:
                secretKeyRef:
                  name: mastodon-secrets
                  key: active-record-encryption-primary-key
            - name: ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY
              valueFrom:
                secretKeyRef:
                  name: mastodon-secrets
                  key: active-record-encryption-deterministic-key
            - name: ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT
              valueFrom:
                secretKeyRef:
                  name: mastodon-secrets
                  key: active-record-encryption-key-derivation-salt
          ports:
            - containerPort: 3000
          volumeMounts:
            - mountPath: /mastodon/public/system
              name: mastodon-storage
      volumes:
        - name: mastodon-storage
          persistentVolumeClaim:
            claimName: mastodon-pvc
