apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:

  # Element
  - element/element-configmap.yaml
  - element/element-deployment.yaml
  - element/element-service.yaml

  # Ingress
  - ingress/element-ingress.yaml
  - ingress/matrix-ingress.yaml
  - ingress/maubot-ingress.yaml
  - ingress/webhooks-ingress.yaml
  - ingress/ns.yaml

  # Maubot
  - maubot/maubot-deployment.yaml
#  - maubot/maubot-pvc.yaml
  - maubot/maubot-service.yaml

  # Postgres
#  - postgres/postgres-pvc.yaml
  - postgres/postgres-service.yaml
  - postgres/postgres-statefulset.yaml

  # Projects - Postfix
  - projects/postfix/postfix-service.yaml
  - projects/postfix/postfix.yaml

  # Redis
#  - redis/redis-pvc.yaml
  - redis/redis-service.yaml
  - redis/redis-statefulset.yaml

  # Synapse
  - synapse/synapse-configmap.yaml
  - synapse/synapse-deployment.yaml
#  - synapse/synapse-pvc.yaml
  - synapse/synapse-service.yaml

  # Webhooks
  - webhooks/webhooks-deployment.yaml
#  - webhooks/webhooks-pvc.yaml
  - webhooks/webhooks-service.yaml
  
  # Well-known
  - well-known/configmap.yaml
  - well-known/deployment.yaml
  - well-known/ingress.yaml
  - well-known/service.yaml

generators:
  - ksops-secret.yaml

images:
  # Maubot
  - name: dock.mau.dev/maubot/maubot
    newTag: "v0.6.0"

  # Element Web
  - name: vectorim/element-web
    newTag: "v1.12.7"

  # Redis
  - name: redis
    newTag: "8"

  # Postgres
  - name: postgres
    newTag: "15"

  # Synapse
  - name: matrixdotorg/synapse
    newTag: "v1.144.0"

  # NGINX
  - name: nginx
    newTag: "1.29-alpine"