apiVersion: v1
kind: PersistentVolume
metadata:
  name: matrix-webhooks-pv
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  persistentVolumeReclaimPolicy: Retain
  csi:
    driver: driver.longhorn.io
    volumeHandle: pvc-ec7f70ed-86ca-4644-8cbe-8b2c546aa185
    fsType: ext4