apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: matrix-webhooks-config
  namespace: matrix
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 1Gi
