apiVersion: apps/v1
kind: Deployment
metadata:
  name: monica-queue
  namespace: monica
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: monica-queue
  template:
    metadata:
      labels:
        app: monica-queue
    spec:
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - monica
              topologyKey: kubernetes.io/hostname
      containers:
        - name: monica-queue
          image: monica:5.0-apache
          command:
            - /bin/sh
            - -lc
            - php artisan queue:work --sleep=10 --timeout=0 --tries=3 --queue=high,default,low
          envFrom:
            - configMapRef:
                name: monica-app-config
            - secretRef:
                name: monica-app-secrets
          env:
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: monica-postgresql
                  key: password
          volumeMounts:
            - name: data
              mountPath: /var/www/html/storage
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: monica-data
