apiVersion: v1
kind: ConfigMap
metadata:
  name: monica-nginx
  namespace: monica
data:
  nginx.conf: |
    user nginx;
    worker_processes auto;

    events {
      worker_connections 1024;
    }

    http {
      include /etc/nginx/mime.types;
      default_type application/octet-stream;

      sendfile on;

      upstream php {
        server 127.0.0.1:9000;
      }

      server {
        listen 80;

        root /var/www/html/public;
        index index.php;

        location / {
          try_files $uri /index.php?$query_string;
        }

        location ~ \.php$ {
          fastcgi_pass php;
          fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
          include fastcgi_params;
        }
      }
    }